# Prerequisites
*.d

# Compiled Object files *.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
!libglfw.3.3.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Stuff

bin/
build/*
obj/

glm.make
glfw.make
imgui.make
glad.make

GLM.make
GLFW.make
IMGUI.make
GLAD.make

/.vscode
/content
/CMakeFiles

Blurry.make
Makefile
.cache
CMakeCache.txt

.DS_Store

compile_commands.json

imgui.ini
