[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/Clackroe/IMGUI-Old.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/Clackroe/GLM-Old.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/Clackroe/GLFW-Old.git
[submodule "libs/glad"]
	path = libs/glad
	url = https://github.com/Clackroe/GLAD-Old.git
[submodule "libs/exiv2"]
	path = libs/exiv2
	url = https://github.com/Exiv2/exiv2.git
	branch = 0.28.x
